<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#report tr:odd").addClass("odd");
        $("#report tr:not(.odd)").hide();
        $("#report tr:first-child").show();

        $("#report tr.odd").click(function () {
            $(this).next("tr").toggle();
            $(this).find(".arrow").toggleClass("up");
        });
        $(".hostName").html(window.location.host);

        var cnt = 1;
        $('tr.api-row').each(function () {
            var currentElement = $(this);
            $(this).closest('tr').children('td:first').text(cnt);
            cnt++;
        });

    });

</script>
<div class="featured">
    <table class="table table-bordered table-hover">
        <tr>
            <td></td>
        </tr>
        <tr>
            <td><b>Demo API HELP</b></td>
        </tr>
    </table>

    <div style="height:10px;"></div>
    <table id="report">
        <tr style="border-radius: 5px;">
            <th style="width: 1%;">No</th>
            <th style="width: 5%;">Method</th>
            <th style="width: 70%;">Url<b style="float: right; font-family: Verdana; "></b></th>
            <th style="width: 10%;">Model</th>
        </tr>

        <!-- To Add New User -->
        <tr class="api-row">
            <td>#</td>
            <td class="post">POST</td>
            <td>https://<span class="hostName"></span>/api/user/addUser</td>
            <td>User</td>
        </tr>
        <td colspan="3">
            <h5>Description :</h5>
            <p>To Add new user</p>
            <h5>Friendly Url :</h5>
            <p>https://<span class="hostName"></span>/api/user/addUser</p>
            <h5>Parameters :</h5>
            <table>
                <tr class="liu">
                    <td>Parameter Name</td>
                    <td>DataType</td>
                    <td>Description</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>name</td>
                    <td>string</td>
                    <td>name of user</td>
                </tr>
                <tr></tr>

                <tr>
                    <td>email</td>
                    <td>string</td>
                    <td>User's Email</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>type</td>
                    <td>string</td>
                    <td>User's Type admin/superAdmin</td>
                </tr>
                <tr></tr>
            </table>
        </td>

        <!-- To Update User -->
        <tr class="api-row">
            <td>#</td>
            <td class="post">POST</td>
            <td>https://<span class="hostName"></span>/api/user/updateUserById/:id</td>
            <td>User</td>
        </tr>
        <td colspan="3">
            <h5>Description :</h5>
            <p>To Update User</p>
            <h5>Friendly Url :</h5>
            <p>https://<span class="hostName"></span>/api/user/updateUserById:id</p>
            <h5>Parameters :</h5>
            <table>
                <tr class="liu">
                    <td>Parameter Name</td>
                    <td>DataType</td>
                    <td>Description</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>name</td>
                    <td>string</td>
                    <td>name of user</td>
                </tr>
                <tr></tr>

                <tr>
                    <td>email</td>
                    <td>string</td>
                    <td>User's Email</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>type</td>
                    <td>string</td>
                    <td>User's Type admin/superAdmin</td>
                </tr>
                <tr></tr>
            </table>
        </td>

        <!--To Get all Users-->
        <tr class="api-row">
            <td>#</td>
            <td class="get">GET</td>
            <td>https://<span class="hostName"></span>/api/user/getUsers</td>
            <td>User</td>
        </tr>
        <td colspan="3">
            <h5>Description :</h5>
            <p>To Get All Users</p>
            <h5>Friendly Url :</h5>
            <p>https://<span class="hostName"></span>/api/user/getUsers
            </p>
        </td>


        <!-- To Get User Token -->
        <tr class="api-row">
            <td>#</td>
            <td class="post">POST</td>
            <td>https://<span class="hostName"></span>/user/getUserToken</td>
            <td>User</td>
        </tr>
        <td colspan="3">
            <h5>Description :</h5>
            <p>To get User Token</p>
            <h5>Friendly Url :</h5>
            <p>https://<span class="hostName"></span>/user/getUserToken</p>
            <h5>Parameters :</h5>
            <table>
                <tr class="liu">
                    <td>Parameter Name</td>
                    <td>DataType</td>
                    <td>Description</td>
                </tr>
                <tr></tr>

                <tr>
                    <td>email</td>
                    <td>string</td>
                    <td>User's Email</td>
                </tr>
                <tr></tr>
            </table>
        </td>


        <!--To Remove User By Id-->
        <tr class="api-row">
            <td>#</td>
            <td class="post">POST</td>
            <td>https://<span class="hostName"></span>/api/user/removeUserById/:id</td>
            <td>User</td>
        </tr>
        <td colspan="3">
            <h5>Description :</h5>
            <p>To Remove User By Id</p>
            <h5>Friendly Url :</h5>
            <p>https://<span class="hostName"></span>/api/user/removeUserById/:id
            </p>
            <h5>Parameters :</h5>
            <table>
                <tr class="liu">
                    <td>Parameter Name</td>
                    <td>DataType</td>
                    <td>Description</td>
                </tr>
                <tr></tr>

                <tr>
                    <td>id</td>
                    <td>string</td>
                    <td>User's Id</td>
                </tr>
                <tr></tr>

            </table>
        </td>

        <!--To Add Events-->
        <tr class="api-row">
            <td>#</td>
            <td class="post">POST</td>
            <td>https://<span class="hostName"></span>/api/event/addEvent</td>
            <td>Event</td>
        </tr>
        <td colspan="3">
            <h5>Description :</h5>
            <p>To Add New event</p>
            <h5>Friendly Url :</h5>
            <p>https://<span class="hostName"></span>/api/event/addEvent
            </p>
            <h5>Parameters :</h5>
            <table>
                <tr class="liu">
                    <td>Parameter Name</td>
                    <td>DataType</td>
                    <td>Description</td>
                </tr>
                <tr></tr>

                <tr>
                    <td>name</td>
                    <td>string</td>
                    <td>Event Name</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>start_date_time</td>
                    <td>string</td>
                    <td>Event start date time</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>end_date_time</td>
                    <td>string</td>
                    <td>Event end date time</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>user_id</td>
                    <td>string</td>
                    <td>Event user id</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>type</td>
                    <td>string</td>
                    <td>Event type</td>
                </tr>
                <tr></tr>

            </table>
        </td>

        <!--To get EventData-->
        <tr class="api-row">
            <td>#</td>
            <td class="post">POST</td>
            <td>https://<span class="hostName"></span>/api/event/getEventUsersBydate</td>
            <td>Event</td>
        </tr>
        <td colspan="3">
            <h5>Description :</h5>
            <p>To Get events details</p>
            <h5>Friendly Url :</h5>
            <p>https://<span class="hostName"></span>/api/event/getEventUsersBydate
            </p>
            <h5>Parameters :</h5>
            <table>
                <tr class="liu">
                    <td>Parameter Name</td>
                    <td>DataType</td>
                    <td>Description</td>
                </tr>
                <tr></tr>

                <tr>
                    <td>date</td>
                    <td>string</td>
                    <td>Pass date for which date's event you want to get.</td>
                </tr>
                <tr></tr>

            </table>
        </td>


    </table>
</div>

</html>